<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoAmrToWav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953557A61D96245B00D35A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953557BF1D96245B00D35A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953557CA1D96245C00D35A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
